<!----------------------------------INICIO HTML--------------------------------------------------->
<!DOCTYPE html>
<html lang="es">

<!----------------------------------INICIO HEAD--------------------------------------------------->
<head>
    <meta charset="UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/css/home.css" />

    <link rel="stylesheet" href="/css/login_register.css">

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1"/>

    <title>Mercado Liebre</title>
</head>

<!----------------------------------INICIO BODY--------------------------------------------------->
<body>

<!----------------------------------INICIO HEADER------------------------------------------------->
    <header>

        <div class="header-top">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"/>
            <form class="barra-busqueda">
                <button id="button-search"><i class="fas fa-search"></i></button>
                <input class="busqueda" type="search" name="barra de busqueda" placeholder="  Buscar productos"/>
            </form>
        </div>

        <div class="compra-cuotas">
          <p><i class="fas fa-hand-holding-usd" style="color: #000000"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav class="navbar">
          <ul class="nav-accesos">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
  
          <ul class="nav-perfil">
            <li>
              <a href="/register">Creá tu cuenta</a><i class="far fa-id-card" style="color: #000000"></i>
            </li>
            <li>
              <a href="/login">Ingresá</a><i class="fas fa-sign-in-alt" style="color: #000000"></i>
            </li>
            <li>
              <a href="#">Mis compras</a><i class="fas fa-shopping-basket" style="color: #000000"></i>
            </li>
          </ul>
        </nav>

        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>

    </header>

    <img class="banner" src="/images/img-home-banner.jpg" alt="Imagen del banner"/>

<!----------------------------------INICIO MAIN------------------------------------------------->
    <main>
        <h1 class="titulos_register" style="color: #666;">Registro de Usuario</h1>

        <section class="formulario">
            <form action="#" method="post">
                <h4 style="color: #666;">Iniciar Sesion</h4>
                
                
                

                <div id="nombre_usuario">
                    <label for="nombre_usuario"></label>
                    <input type="text" id="nombre_usuario" name="nombre_usuario" required placeholder="  Usuario">
                </div>
                
                <div id="contraseña">
                  <label for="contraseña"></label>
                  <input type="password" id="contraseña" name="contraseña" required placeholder="  Contraseña">
                </div>
                  
                <div id="submit">
                    <a href="/"></a><input type="submit" value="Enviar">
                </div>
                    
            </form>
        </section>
    </main>
                
<!-----------------------------------INICIO FOOTER------------------------------------------------>
        <footer>

            <section class="section-footer">
              <i class="fas fa-credit-card"></i>
              <h3>Pagá con tarjeta o en efectivo</h3>
              <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                efectivo en puntos de pago. ¡Y siempre es seguro!
              </p>
            </section>
      
            <section class="section-footer">
              <i class="fas fa-gift"></i>
              <h3>Envío gratis desde $2.500</h3>
              <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                miles de productos. Es un beneficio de Mercado Puntos.
              </p>
            </section>
      
            <section class="section-footer">
              <i class="fas fa-user-shield"></i>
              <h3>Seguridad, de principio a fin</h3>
              <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                hacer, porque estás siempre protegid@.
              </p>
            </section>

            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>

          </footer>
    </body>
</html>